In [1]:
from pyspark.sql import SparkSession

In [2]:
spark2 = SparkSession.builder.appName("dataframe").getOrCreate()

In [3]:
spark2

In [9]:
df_pyspark = spark2.read.option('header','true').csv('test.csv',inferSchema=True)

In [10]:
df_pyspark

DataFrame[year: int, country: string, captain: string]

In [11]:
df_pyspark.show()

+----+-------+-------+
|year|country|captain|
+----+-------+-------+
|2003|    Aus|  Ricky|
|2007|    Aus|  Ricky|
|2011|    Ind|  Dhoni|
|2015|    Aus| Clarke|
|2019|    Eng| Morgan|
|2023|    Aus|    Pat|
+----+-------+-------+

In [12]:
df_pyspark.printSchema()

root
 |-- year: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- captain: string (nullable = true)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns # get table columns

['year', 'country', 'captain']

In [17]:
df_pyspark.head(3) # top n records

[Row(year=2003, country='Aus', captain='Ricky'),
 Row(year=2007, country='Aus', captain='Ricky'),
 Row(year=2011, country='Ind', captain='Dhoni')]

In [19]:
df_pyspark.select('year') #get info about column

DataFrame[year: int]

In [21]:
df_pyspark.select('year').show() #view entire column

+----+
|year|
+----+
|2003|
|2007|
|2011|
|2015|
|2019|
|2023|
+----+

In [23]:
df_pyspark.select(['year','captain']) #get info about multiple columns

DataFrame[year: int, captain: string]

In [24]:
df_pyspark.select(['year','captain']).show() #view multiple columns

+----+-------+
|year|captain|
+----+-------+
|2003|  Ricky|
|2007|  Ricky|
|2011|  Dhoni|
|2015| Clarke|
|2019| Morgan|
|2023|    Pat|
+----+-------+

In [26]:
#usage similar to pandas
df_pyspark['year'] ## --> pyspark just provides column name back to us

Column<'year'>

In [27]:
#similar to pandas
df_pyspark.dtypes

[('year', 'int'), ('country', 'string'), ('captain', 'string')]

In [28]:
df_pyspark.describe()

DataFrame[summary: string, year: string, country: string, captain: string]

In [29]:
df_pyspark.describe().show()

+-------+-----------------+-------+-------+
|summary|             year|country|captain|
+-------+-----------------+-------+-------+
|  count|                6|      6|      6|
|   mean|           2013.0|   NULL|   NULL|
| stddev|7.483314773547883|   NULL|   NULL|
|    min|             2003|    Aus| Clarke|
|    max|             2023|    Ind|  Ricky|
+-------+-----------------+-------+-------+

In [32]:
#adding volumns to dataframe

df_pyspark.withColumn('year added',df_pyspark['year']+5)

+----+-------+-------+----------+
|year|country|captain|year added|
+----+-------+-------+----------+
|2003|    Aus|  Ricky|      2008|
|2007|    Aus|  Ricky|      2012|
|2011|    Ind|  Dhoni|      2016|
|2015|    Aus| Clarke|      2020|
|2019|    Eng| Morgan|      2024|
|2023|    Aus|    Pat|      2028|
+----+-------+-------+----------+

In [33]:
df_pyspark = df_pyspark.withColumn('year added',df_pyspark['year']+5)

In [34]:
df_pyspark.show()

+----+-------+-------+----------+
|year|country|captain|year added|
+----+-------+-------+----------+
|2003|    Aus|  Ricky|      2008|
|2007|    Aus|  Ricky|      2012|
|2011|    Ind|  Dhoni|      2016|
|2015|    Aus| Clarke|      2020|
|2019|    Eng| Morgan|      2024|
|2023|    Aus|    Pat|      2028|
+----+-------+-------+----------+

In [35]:
#drop the column

In [38]:
df_pyspark = df_pyspark.drop('year added')

In [39]:
df_pyspark.show()

+----+-------+-------+
|year|country|captain|
+----+-------+-------+
|2003|    Aus|  Ricky|
|2007|    Aus|  Ricky|
|2011|    Ind|  Dhoni|
|2015|    Aus| Clarke|
|2019|    Eng| Morgan|
|2023|    Aus|    Pat|
+----+-------+-------+